body {
  background-color: black;
}
.container {
  position: absolute;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-align: center;
}
#canvas1 {
  position: relative;
  width: 800px;
  height: 700px;
}
p {
  color: white;
}
#slider {
  width: 800px;
}
